.logo{
  font-family: $font-family--primary;
  font-weight: $font-weight--bold;
  font-size: em(20px);
  letter-spacing: 1px;
  text-transform: uppercase;
  display: inline-block;
  padding-top: .6em;
  transition: all .4s cubic-bezier(0,.65,.63,.74) ;
  @include mq(medium){
    margin-top: 1.2em;
  }
}
