/* =================================
Global config
==================================== */

// Font Stacks

$font-url--google        : '';
$font-family--primary    : '', sans-serif;
$font-family--secondary  : '', serif;

// Font Weights

$font-weight--normal     : 400;
$font-weight--bold       : 700;

// Descriptive Base Colors



// Color Usage


$color-primary      : black;
$color-secondary    : white;



// Breakpoints


$brkpoint--md    : 768px;
