/* =================================
Global config
==================================== */

// Font Stacks

$font-url--google        : 'https://fonts.googleapis.com/css?family=Dosis|Source+Sans+Pro';
$font-family--primary    : 'Dosis', sans-serif;
$font-family--secondary  : 'Source Sans Pro', "Helvetica Neue", Arial, sans-serif;

// Font Weights

$font-weight--light      : 300;
$font-weight--normal     : 400;
$font-weight--medium     : 500;
$font-weight--bold       : 700;

// Descriptive Base Colors

$white            : #fff;
$dove-gray        : #696969;
$pickled-bluewood : #34515e;
$mirage           : #1c2833;
$porcelain        : #EFF2F3;
$mango-tango      : #d47500;


$color-primary    : $mirage;
$color-secondary  : $dove-gray;
$color-link       : $pickled-bluewood;
$color-accent     : $mango-tango;
$bg-nav           : $porcelain;

// Text

$base__font-size  : 16px;
$base__line       :  1.5;

// Breakpoints

$brkpoint--sm    : 320px;
$brkpoint--md    : 768px;
$brkpoint--lg    : 1200px;
