/* =================================
Helper classes
==================================== */

// Clearfix

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}


// Center alignment

%center-align {
	text-align: center;
}


// Custom transition effect

%transition{
  transition: all .4s cubic-bezier(0,.65,.63,.74);
}
